@import "../../Partials/Colors.scss";
@import "../../Partials/Partials.scss";

.about__section {
  top: 10vh;
  position: absolute;
  background-color: rgba(216, 66, 66, 0);
  height: 100vh;
  width: 100vw;
}

.about {
  padding: 2rem;

  &-me {
    position: relative;
    top: 0vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $theme_title;
    @include for-tablet {
      align-items: center;
    }
    @include for-desktop {
      align-items: center;
      font-size: 2rem;
      padding: 5rem;
    }
  }
}

.about-name {
  @include for-tablet {
    font-size: 3rem;
  }
}

.hello {
  font-size: 5rem;
}

.me {
  width: 50%;
}

.about-me-content {
  @include for-tablet {
    font-size: 2rem;
  }
}

h2 {
  @include for-tablet {
    font-size: 3rem;
  }
}

.about-me-list li {
  @include for-tablet {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
}
