@import "../../Partials/Colors.scss";
@import "../../Partials/Partials.scss";

.header1st {
  @include for-mobile {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 82vw;
    font-size: 3rem;
    font-weight: bold;
    z-index: 1;
    padding: 1rem;
  }
}

.link_border {
  border: 2px solid $Links;
  width: auto;
  height: auto;
  padding: 0.5rem;
  border-radius: 20px;
  margin: 1rem;
}

.link_border:hover {
  border: 2px solid $Links_hover;
}
