@import "../../Partials/Colors.scss";
@import "../../Partials/Partials.scss";

.home__section__1 {
  top: 10%;
  position: absolute;
  background-color: rgba(216, 66, 66, 0);
  height: 250vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__section__1 h3,
h1,
h4 {
  padding: 0.5rem;
  color: $theme_title;
}

.home__name {
  height: 50vh;
  width: 100%;
}

.home__shape {
  @include for-mobile {
    position: relative;
    top: 8vh;
    background-color: $theme_shape;
    width: 35%;
    height: 3rem;
    border-radius: 20px;
    margin-left: 0.5rem;
  }
}

.home__shape2 {
  @include for-mobile {
    position: relative;
    top: 11vh;
    background-color: $theme_shape;
    width: 50%;
    height: 2rem;
    border-radius: 20px;
    margin-left: 0.5rem;
  }
}
.home__shape3 {
  @include for-mobile {
    position: relative;
    top: 7vh;
    background-color: $theme_shape;
    width: 50%;
    height: 2rem;
    border-radius: 20px;
    margin-left: 0.5rem;
  }
}

.home__subtitle {
  height: 5rem;
  margin-top: 2rem;
}

.home__subtitle2 {
  margin-bottom: 2rem;
}

.home__para {
  height: 5rem;
}

h3 {
  height: 30vh;
}

.home__para2 {
  height: 50vh;
}
