$mobile_height: 370vh;

.bg {
  background-image: url(../../Images/mobile_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: $mobile_height;
  min-width: 320px;
}

.bg_filter {
  background-color: rgba(0, 0, 0, 0.589);
  width: 100%;
  height: $mobile_height;
}
