$mobile_height: 200vh;

.bg {
  background-image: url(../../Images/forestpath.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: $mobile_height;
  min-width: 320px;
}

.bg_filter {
  background-color: rgba(0, 0, 0, 0.719);
  width: 100%;
  height: $mobile_height;
}
