@import "../../Partials/Partials.scss";
@import "../../Partials//Colors.scss";

.header {
  @include for-mobile {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
  }
  @include for-tablet {
    font-size: 2rem;
  }
  @include for-desktop {
    font-size: 3rem;
  }
}

.borderbot {
  border-bottom: 1px solid $Links;
  height: 1px;
  width: 10%;
}

.borderbot:hover {
  border-bottom: 2px solid $Links_hover;
}
